# Logs
*.log

# eslint rules
*.eslintrc

# Grunt intermediate storage
*.grunt

# Dependency Directory
node_modules/

# npm Debug log
npm-debug.log

*DS_Store

# Image files
*.jpg

# The build file
public/build/main.js

# All the data folders
db/data_images/*
db/data_text/*

# Other misc. files
gulpOld.js
