<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>HATHYST</title>
    <!-- Load the frontend JavaScript application build -->
    <script src="/build/main.js"></script>
  </head>
  <body>
    <h1 class="title" style="font-family:'Helvetica'"> HATHYST: How about this? Have you seen this? </h1>
    <div id="container">
      <p class="loading">
        If you see this, it means <span style="color: #17822c">React</span> hasn't rendered to the page as yet.
      </p>
    </div>
  </body>
</html>
