$INTAKE-PANE-WIDTH: 0.75;

.windowRoot {
  display: flex;
}

.mediaIntakePane {
  width: $INTAKE-PANE-WIDTH * 100%;
}

.image-container {
  display: flex;
  justify-content: center;
}

.dashboardPane {
  display: flex;
  justify-content: center;
  width: (1 - $INTAKE-PANE-WIDTH - 0.05)* 100%;
  padding-left: 10px;
  border-left: 1px solid #D7DBDD;
}

.portfolioContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 100%;

}
